<div class="col-md-3 item">
    <div class="card text-center">
      <img class="card-img-top" src='<%= image %>' alt="Card image cap">
      <div class="card-body">
        <div class="<%= type === 'Private'  ? 'text-success' : 'text-danger' %>" >
          <p class="card-text"><%= type %></p>
        </div>
        <h2 class="card-title"><%= title %></h2>
        <!-- <p class="card-text"><%= desc %></p> -->
        <div class="<%= stocked === 'In Stock'  ? 'text-success' : 'text-danger' %>" >
          <p class="card-text"><%= stocked %></p>
        </div>

        <a href="<%= paymentLink %>" class="btn btn-card-btc mb-2"><i class="fab fa-bitcoin btn-card-text-margin"></i></i>BTC</a>
        <a href="<%= paymentLink %>" class="btn btn-primary btn-card-eth" target="_blank"><i class="fab fa-ethereum btn-card-text-margin"></i>Ethereum</a>
        <% if (canEdit) { %>
            <a href="/card/<%= id %>" class="btn btn-danger">Edit</a>
      <%  } %>
      </div>
    </div>
  </div>
